.packery {
  max-width: 100%;
  /*  height: 10000pt;
*/
}

/* clearfix */

.packery:after {
  content: ' ';
  display: block;
  clear: both;
}
.gutter-sizer {
  width: 2%;
}
.grid-sizer {
  /*width: 18.4%;*/
  width: auto;
}
